@import './color.scss';
// 标签基础样式
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header,
menu, nav, output, ruby, section, summary,
time, mark, audio, video, input {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  font-family:"Microsoft YaHei","Hiragino Sans GB", "PingFang SC","Helvetica Neue", "Helvetica","Arial",sans-serif;
}
html {
  -webkit-text-size-adjust: none;
  width: 100%;
  min-width: 1440px;
  height: 100%;
}
body {
  -webkit-text-size-adjust: none;
  width: 100%;
  height: 100%;
  font-size: 16px;
  color: #666;
}
html, body {
  background: #eeeeee;
}
#index-wrap {
    width: 100%;
    height: 100%;
    background: #f3f3f3;
    min-width: 1200px;
    position: relative;
    #product-content {
      width: 100%;
      height: calc(100% - 38px);
    }
}
img{
    border:none;
    display: block;
}
i{
  font-style:normal;
}
ul, ol { list-style:none; } 
a { 
  text-decoration:none; 
  color:#333;
  &:hover {
    text-decoration:none;
  }
} 
/*表格*/
table {
    border-spacing: 0;
}
input,textarea,button,select{
  outline:none;
  border:none;
}
textarea{
  overflow: auto;
  vertical-align: top;
  resize: none;
}
select{
  color:#666
}
// 常用类覆盖
.mint-msgbox{
  overflow: inherit;
  padding-bottom: 24px;
}
//查看更多链接
// 表单
.form-item.form_select:disabled{
  background: #f4f5f7;
  color: #666;
  font-size: 14px;
}
.form_item{
  margin-bottom:30px;
  label{
    width: 140px;
    padding: 6px 10px 6px 0;
    height: 24px;
    line-height: 24px;
    text-align: right;
    vertical-align: middle;
    font-size: 14px;
    float: left;
    em {
        display: inline-block;
        font-size: 14px;
        color: #ec4847;
        padding-right: 4px;
    }
  }
  .item_content{
    margin-left: 150px;
    position: relative;
  }
}
.box_shadow {
  box-shadow: 1px 4px 11px #eaeaea;
  -webkit-box-shadow: 1px 4px 11px #eaeaea;
  -moz-box-shadow: 1px 4px 11px #eaeaea;
  -o-box-shadow: 1px 4px 11px #eaeaea;
  -ms-box-shadow: 1px 4px 11px #eaeaea;
}
.main_box {
  padding: 20px;
  margin-bottom: 20px;
  width: 920px;
  background-color: #fff;
  border-radius: 4px;
  -webkit-border-radius: 4px;
  -moz-border-radius: 4px;
  -o-border-radius: 4px;
  -ms-border-radius: 4px;
  box-shadow: 1px 4px 11px #eaeaea;
  -webkit-box-shadow: 1px 4px 11px #eaeaea;
  -moz-box-shadow: 1px 4px 11px #eaeaea;
  -o-box-shadow: 1px 4px 11px #eaeaea;
  -ms-box-shadow: 1px 4px 11px #eaeaea;
}
.con_main {
  width: 960px;
  margin: 0 auto;
}
.middle_top{
  padding:20px 0;
  .middle_top_left{
    padding-left: 5px;
    color: #000;
    font-size: 16px;
    border-left: 3px solid #ff414a;
  }
}
.datepicker-range>input{
  border-radius: 4px;
}
// transiton过度
.fade-enter-active, .fade-leave-active {
  transition: opacity .5s;
}
.fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
  opacity: 0;
}
// 弹框样式
.mint-msgbox-content{
  padding-bottom: 0;
}
.mint-msgbox-header {
  margin-bottom: 15px;
  
  .close_modal{
    right: 22px;
    top: 12px;


  }
  
}
//按钮
.btn
,.yu_button
,.yu_button.yu_button_default{
  
  height: 36px;
  padding: 4px 20px;
  min-width: 68px;
  @include font-line-height(14px);
  color: $c-text;
  display: inline-block;
  text-align: center;
  border-radius: 4px;
  border: 1px solid $c-border;
  background-color: $c-white;
  box-sizing: border-box;
  vertical-align: middle;
  &.min{
    padding: 3px 16px;
    min-width: 56px;
    @include font-line-height(12px);
  }
  &.max{
    padding: 6px 16px;
    min-width: 96px;
    @include font-line-height(14px);
  }
}
.yu_button_default{
  margin-right: 20px;
}
.btn.btn_blue,
.yu_button.yu_button_primary {
  border-width: 1px;
    border-color: $c-blue;
    background-color: $c-blue;
    color: #fff;
}
.search__box {
  @include clearfloat;
  .form_input.search__input,
  .search__input {
    position: relative;
	  border-top-right-radius: 0;
	  border-bottom-right-radius: 0;
  }
  .width_300{
    &>input{
      width: 300px !important;
    }
  }
  .btn
  ,.yu_button{
    &.search__btn {
      border-bottom-left-radius: 0;
      border-top-left-radius: 0;
    }
  }
  .autocomplete-wrapper .autocomplete li {
    box-sizing: border-box;
    width: 421px;
    .code {
      display: inline-block;
      @include text-overflow(100px);
    }
    .customer_name {
      display: inline-block;
      @include text-overflow(296px);
    }
  }
}
.item_title {
  margin-bottom: 34px;
  font-size: 18px;
  color: #20242F;
  line-height: 64px;
  height: 64px;
  font-weight: normal;
  border-bottom: 1px solid #979797;
  &:before{
      content:"";
      display: inline-block;
      vertical-align: middle;
      margin-right: 20px;
      width:4px;
      height: 25px;
      font-size: 16px;
      background-color: #00a5fa;
  }
}
.row:after{
  content:""; 
  display: block; 
  clear:both; 
}
.col5{
  width:50%;
  float:left;
  font-size: 14px;
  color: #212121;
  line-height: 36px;
  .keyname{
      display: inline-block;
      text-align: right;
      width:120px;
  }
}
.group__field {
  @include clearfloat;
  .group__field__select {
    float: left;
    &>.form_select {
      margin-right: 5px;
      width: 100px !important;
    }
  }
  .group__field__input{
    float: left;
    &>.form_input {
      width: 220px !important;
    }
  }
}
.must_fill .yu-form-item-label:before {
    content: "*";
    display: inline-block;
    margin-right: 4px;
    line-height: 1;
    font-size: 14px;
    color: #ff5959;
}
.yu-form-item-content{
  line-height:36px;  
  font-size: 14px;  
}
.yu-form-item .yu-form-item-label {
  @include font-line-height(14px);
  color:#333;
  // padding: 7px 12px 7px;
  padding: 7px 12px 7px 0;
}
.yu-radio
,.yu-checkbox {
  color: #333;
  cursor: pointer;
  @include font-line-height(14px);

  padding: 7px;
  display: inline-block;
}
.distpicker-address-wrapper select,
.form_input,
.form_select,
.form_textarea{
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  border-radius: 4px;
  width: 325px;
  height:36px;
  &:hover{
      border: 1px solid #E9E9E9;
  }
  &:focus{
       border: 1px solid #E9E9E9;
  }
  &.min {
    width: 200px !important;
  }
}
.distpicker-address-wrapper select {
  height:28px;
  font-size:14px;
  width:100px;
  &:focus{
      outline:none;
  }
}
.form_select {
  &.s_normal {
    width: 325px !important;
  }
  &.s_mini {
    width: 200px !important;
  }
}
.form_input {
  &.i_normal {
    width: 325px !important;
  }
  &.i_mini {
    width: 200px !important;
  }
}
.autocomplete-wrapper.mini .autocomplete-input{
  width: 200px !important;
}
.grail-layout-right-content {
  .form_select.s_mini ,
  .autocomplete-wrapper.mini .autocomplete-input{
    width: 120px !important;
  }
  .export_btn {
    float: right;
    font-size: 14px;
    color: #7e8c8d;
    line-height: inherit;
    cursor: pointer;
  }
}
.form_textarea {
  height: 120px;
  line-height: 20px;
  font-size: 14px;
}
.datepicker>input{
  background: #FFFFFF;
  border: 1px solid #E9E9E9;
  border-radius: 4px;
  height: 28px;
  outline: none;
}
.datepicker__buttons span {
  line-height:16px;
}
.i_normal {
  width: 200px!important;
}
.validator_special_upload { //上传文件校验
  >.yu-form-item-content {
    margin-left: 0 !important;
  }
  .yu-form-item-error{
    margin-left: 150px;
  }
}
.yu-form-item-error {
  font-size: 12px;
}
.tdinput input{
  border-radius: 4px;
  width:96px !important;
  text-align: right;
}
td .yu-form-item{
  margin-bottom:0;
  &.is-error{
    margin-bottom:24px;
  }
}
td select{
  background:#fff;
  border: 1px solid #D4DAE2;
  border-radius: 4px;
}
.yu_tooltip .tooltip {
    color: #4C4C4C;
    padding: 8px 15px;
    font-size: 14px;
    line-height: 20px;
    background: #FFFFFF;
    border: 1px solid #E9E9E9;
    box-shadow: 0 0 4px 0 rgba(0,0,0,0.10);
    .arrow{
            border-color: #E9E9E9 transparent !important;
            &:after{
              display: block;
              width: 0;
              height: 0;
              position: absolute;
              border-color: transparent;
              border-style: solid;
              content: "";
               border-width: 5px;
               top: 1px;
              margin-left: -5px;
              border-top-width: 0;
              border-bottom-width: 5px;
              border-bottom-color: #fff;
            }
    }
}
.page__nav__title {
  @include clearfloat;
  border-bottom: 2px solid $c-border;
  .page__nav__card {
    float: left;
    padding: 8px;
    margin-right: 16px;
    @include font-line-height(14px);
    text-align: center;
    color: $c-text;
    cursor: pointer;
    transform: translateY(2px);
    &.active {
      border-bottom:2px solid $c-blue; 
      color: $c-blue;  
    }
  }
}
.newtable{
    padding:24px 20px;
    margin-bottom: 50px;
    h2.title{
      @include font-line-height(20px);
      color: $c-title;
      text-align: center;
    }
}
.local_pagination{
  .show_info{
    margin-right: 10px;
  }
}
.page_title{
    line-height:60px;
    padding: 0 24px;
    font-size:18px;
    font-weight: 700;
    box-sizing:border-box;
    border-bottom:1px solid #D4DAE2;
    color:#333333;
    .goback{
        margin-left:10px;
        color:#304F70;
        font-size:14px;
        i{
            font-size:14px;
        }
    }
}
.page_content {
  padding: 24px 20px;
}
.sub_title {
  margin: 20px 0;
  font-size: $font-big;
  color: $c-text;
  font-weight: bold;
}
.divide_line {
  width: 100%;
  height: 1px;
  background-color: $c-border;
}
.info__box {
  @include clearfloat;
  .info__text {
    float: left;
    width: 500px;
    .row{
      @include font-line-height($font-nor);
      @include text-overflow(inherit);
      margin-bottom: 20px;
      color: $c-text;
    }
  }
  .info__pic {
    float: left;
    .info__pic__pre {
      width: 150px;
      height: 200px;
    }
    .info__pic__btn {
      text-align: center;
      font-size: $font-nor;
    }
  }
}
// 翻页器
.pagination {
  overflow: auto;
  height: 35px !important;
  button {
    width:auto;
  }  
}